.tarea-contenedor {
    width: 300px;
		min-height: 65px;
		background-color: #1b1b32;
		margin: 5px 0;
		padding: 8px 15px 8px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 7px 0 7px 0;

		border: .5px solid #fff;
		cursor: pointer;
}
/*Colores*/
.tarea-contenedor:nth-child(3n + 1) {
	background-color: #1b1b32;
	color: white;
	box-shadow: 10px 10px 10px 2px #1b1b32;
}
.tarea-contenedor:nth-child(3n + 2) {
	background-color: #000;
	color: white;
	box-shadow: 10px 10px 10px 2px #1b1b32;
	margin: 15px 0 15px 0;
}
.tarea-contenedor:nth-child(3n + 3) {
	background-color: #0f0f0f;
	color: #fff;
	box-shadow: 10px 10px 10px 2px #1b1b32;
}

/*Texto*/
.tarea-texto {
	width: 100%;
	height: 100%;
	font-style: italic;
	font-size: 12px;
	display: flex;
	align-items: center;
	overflow-wrap: anywhere ;
}
.tarea-icono {
	width: 25px;
	height: 25px;
	margin: 5px;
}

.tarea-contenedor.completada {
	
	background-color: green;
	font-style: oblique;
	color: #000;
	opacity: .3;
	text-decoration: line-through;
}